notes

In [1]:
123

123

In [4]:
print(type(123))

<class 'int'>

variable

In [5]:
num = 201

In [6]:
print(num)

201

In [8]:
num = num + 1

In [9]:
print(num)

202

In [12]:
a = 0
a = a + 1
print(a)

1

tipe data:
- int
- float
- str
- bool

In [13]:
123 # integer, angka bulat
15.5 # float, angka tidak bulat

15.5

In [14]:
print (type (15.5))

<class 'float'>

In [15]:
msg = "halo"
print (type (msg))

<class 'str'>

In [16]:
msg = msg + " selamat malam!"
print(msg)

halo selamat malam!

In [17]:
hujan = True 
cerah = False
print(type(hujan))
print(hujan)

<class 'bool'>
True

In [18]:
print (msg)
print (hujan)
print (num)
print (a)

halo selamat malam!
True
202
1

In [19]:
nama_lengkap = "andhika widjaya"
tanggal_lahir = "12 Dec 1980"
# cara tulis variable yang baik, gunakan huruf sebagai karakter pertama, 
# gunakan _ untuk memisah 2 kata atau lebih
# gunakan huruf kecil

namaLengkap # camel case
NamaLengkap # pascal case
nama_lengkap # snake case

In [20]:
a = 10
b = 7

c = a + b
print(c)

c = a - b
print(c)

print (a / b)
print (a * b)
print (a % b) # 10 bagi 7 sisa 3
print (a ** b)

17
3
1.4285714285714286
70
3
10000000

In [21]:
# operator comparison, mengembalikan True atau False
print (a == b)
print (a != b)
print (a > b)
print (a >= b)
print (a < b)
print (a <= b)

False
True
True
True
False
False

In [22]:
msg2 = "h8"
print (msg2 + " kelas python")

h8 kelas python

In [23]:
print (msg2 * 3)

h8h8h8

In [24]:
print ('8' in msg2)

True

In [25]:
print ('a' in msg2)

False

In [26]:
msg3 = "malam hari ini kita BELAJAR"

print (msg3.capitalize())
print (msg3.upper())
print (msg3.lower())
print (msg3.title())
print (msg3.swapcase())

Malam hari ini kita belajar
MALAM HARI INI KITA BELAJAR
malam hari ini kita belajar
Malam Hari Ini Kita Belajar
MALAM HARI INI KITA belajar

In [41]:
list_buah = [ "mangga", "duku", "pisang", "apel"]
list_buah2 = ["pisang","apel", "mangga", "duku"]
print(list_buah)
print(type(list_buah))

['mangga', 'duku', 'pisang', 'apel']
<class 'list'>

In [29]:
print(list_buah[0])

apel

In [30]:
print(list_buah[3])

pisang

In [34]:
print (list_buah == list_buah2)

False

In [35]:
list_random = [123, 2.5, True, "halo"]

In [36]:
print (list_buah[-1])

pisang

In [37]:
print (list_buah * 2)

['apel', 'mangga', 'duku', 'pisang', 'apel', 'mangga', 'duku', 'pisang']

In [38]:
print (list_buah + list_random)

['apel', 'mangga', 'duku', 'pisang', 123, 2.5, True, 'halo']

In [39]:
print (len(list_buah))

4

In [42]:
print (min(list_buah))
print (max(list_buah))

apel
pisang

In [43]:
list_nilai = [10, 100, 50, -3, 25]
print (min(list_nilai))
print (max(list_nilai))

-3
100

In [44]:
print (list_buah)

['mangga', 'duku', 'pisang', 'apel']

In [45]:
list_buah[0] = "pepaya"
print(list_buah)

['pepaya', 'duku', 'pisang', 'apel']

In [47]:
list_buah[1:3] = ["semangka", "nanas"]
print(list_buah)

['pepaya', 'semangka', 'nanas', 'nanas']

In [49]:
tuple_buah = ('pepaya', 'semangka', 'nanas', 'nanas')
print (tuple_buah)
print (type(tuple_buah))

('pepaya', 'semangka', 'nanas', 'nanas')
<class 'tuple'>

In [50]:
tuple_buah[0] = "apel" #immutable, tidak bisa berubah, isi dari tuple itu fix

TypeError: 'tuple' object does not support item assignment

In [51]:
list_buah[0] = "apel"

In [52]:
print(list_buah)

['apel', 'semangka', 'nanas', 'nanas']

In [53]:
print(tuple_buah)

('pepaya', 'semangka', 'nanas', 'nanas')

In [54]:
print (tuple_buah[0])

pepaya

In [59]:
dict_mobil = {
    'merk': 'Kijang',
    'warna': 'silver',
    'tahun': 2018,
    'tipe': 'SUV'
}
print (dict_mobil)
print (type(dict_mobil))

{'merk': 'Kijang', 'warna': 'silver', 'tahun': 2018, 'tipe': 'SUV'}
<class 'dict'>

In [58]:
print(dict_mobil['merk'])

Kijang

In [60]:
dict_mobil['harga_beli'] = 200
print(dict_mobil)

{'merk': 'Kijang', 'warna': 'silver', 'tahun': 2018, 'tipe': 'SUV', 'harga_beli': 200}

In [61]:
dict_mobil['merk'] = "KIA"
print(dict_mobil)

{'merk': 'KIA', 'warna': 'silver', 'tahun': 2018, 'tipe': 'SUV', 'harga_beli': 200}

In [63]:
print (dict_mobil.keys())
print (dict_mobil.values())

dict_keys(['merk', 'warna', 'tahun', 'tipe', 'harga_beli'])
dict_values(['KIA', 'silver', 2018, 'SUV', 200])

In [64]:
print (dict_mobil.items())

dict_items([('merk', 'KIA'), ('warna', 'silver'), ('tahun', 2018), ('tipe', 'SUV'), ('harga_beli', 200)])

In [65]:
print (dict_mobil)

{'merk': 'KIA', 'warna': 'silver', 'tahun': 2018, 'tipe': 'SUV', 'harga_beli': 200}

In [70]:
m = 'merk'
print (dict_mobil[m])

KIA

In [73]:
i = 0
print(list_buah[i])
print(tuple_buah[i])

apel
pepaya

In [78]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)

print(someone_is_of_working_age)

True

In [79]:
set_buah =  {"apple", "banana", "cherry", "apple"}
print (set_buah)
print(type(set_buah))

{'banana', 'cherry', 'apple'}
<class 'set'>

summary data struktur

In [80]:
list_makanan = ["nasi goreng", "roti manis", "ayam bakar"]
tuple_makanan = ("nasi goreng", "roti manis", "ayam bakar") # isi nya tidak bisa diubah seperti list
dict_makanan = {"nasi goreng": 1, "roti manis": 2, "ayam bakar": 1} # pakai key bukan index
set_makanan = {"nasi goreng", "roti manis", "ayam bakar"} # isi dari set semuanya unik, tidak bisa dobel, dan set tidak punya index

In [83]:
nasi_goreng = {
    'bahan': ['nasi', 'telur', 'kecap'],
    'harga': 15000
}
es_teh_manis = {
    'bahan': ["air", "teh", "gula"],
    'harga': 5000
}

makan_siang = [
    nasi_goreng, es_teh_manis
]

print (makan_siang)

[{'bahan': ['nasi', 'telur', 'kecap'], 'harga': 15000}, {'bahan': ['air', 'teh', 'gula'], 'harga': 5000}]

In [86]:
print (set_makanan)

{'ayam bakar', 'nasi goreng', 'roti manis'}

In [87]:
print(list_makanan)
del list_makanan[0]
print(list_makanan)

['nasi goreng', 'roti manis', 'ayam bakar']
['roti manis', 'ayam bakar']

In [88]:
[a, b] = list_makanan

print(a)
print(b)

roti manis
ayam bakar

In [89]:
(a, b, c) = tuple_makanan

print(a)
print(b)
print(c)

nasi goreng
roti manis
ayam bakar

In [90]:
a = tuple_makanan[0]
b = tuple_makanan[1]
c = tuple_makanan[2]

In [91]:
print (dict_makanan)
del dict_makanan['ayam bakar']
print(dict_makanan)

{'nasi goreng': 1, 'roti manis': 2, 'ayam bakar': 1}
{'nasi goreng': 1, 'roti manis': 2}